{% extends "student/base_student.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{MYCE_SETTINGS.college_name}} {{MYCE_SETTINGS.cep_name}} Classes{% endblock %}

{% block page_header %}
{{intro|safe}}
{% include "student/partials/_breadcrumb.html" with page_name="My Courses" %}
{% endblock %}

{% block content %}
{% include "grades/student/_grades_body.html" %}

{% if grades_visible %}
<script src="{% static 'grades/student/js/grades.js' %}"></script>
{% endif %}
{% endblock %}
